.center {
  min-height: 10em; 
  text-align: center; 
  display: flex; 
  align-items: center; 
  justify-content: center;
}

.infrared {
  background: linear-gradient(to right, #8f448a, #ff0000, #f1db4a, #6ba959, #466ba1); 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
}

.subsection_title {
  text-transform: capitalize;
  display: block;
  font-size: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.magic_magenta {
  color: #8f448a;
}

.impulsive_red {
  color: #ff0000;
}

.confirmist_amber {
  color: #de8f33;
}

.achievement_orange {
  color: #f08533;
}

.pluralistic_green {
  color: #008000;
}

.evolutionary_teal {
  color: #008080;
}
