.programing-language-icon {
  width: 50px;
  text-align: center;
  vertical-align: middle;
}

.image-small {
  width: 100px;
  float: right;
}

.image-medium {
  width: 300px;
  display: block;
  margin: 0 auto;
}

.armin_confused_picture {
  height: 300px;
  display: block;
  margin: 0 auto;
}
