---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "normalize",
        "variables",
        "global",
        "syntax-highlighting",
        "scna",
        "leadership",
        "leadership_styles"
;

img[src$='#sparkler-presentation-img'] {
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: solid black 1px;
}

figcaption {
  font-size: 10px;
}

.primaryColor{
  background-color: #E0BB7A;
}

.secondaryColor {
  background-color: #7A9FE0
}

.primaryTertiary {
  background-color: #F8F0E1;
}

.secondaryTertiary {
  background-color: #E1EAF8;
}
