// Spaces
$base-spacing-unit: 15px;

// Border radius
$global-radius: 3px;

// Transition
$global-transition: .35s;


section {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: solid gray 4px;

  title {
    // H3
    text-transform: capitalize;
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
}

.container {
  overflow: hidden;
  margin-top: 20px;

  .row {
    overflow: hidden;
  }

  .left, .right {
    float: left
  }

  .left {
    padding-right: 5px;
  }

  .right {
    padding-left: 5px
  }

  .text {
    width: 70%
  }

  .image {
    width: 30%;
  }
}

figcaption {
  font-size: 10px;
}
